.navbarContainer{
  height:12vh;
  width:100vw;
  background-color: #FFFFFF;
  display:flex;
}

.navbarLogoContainer{
    display:flex;
    
}
.navbarLogo{
    height:50px;
    width:50px;
    margin:10px 10px;
}
.navbarLogoName{
    font-weight:500;
    color:#E9004B;
    font-size:30px;
    font-style:oblique;
   
    margin:4px 5px 0px 10px;
}
.navbarSearchContainer{
    margin:20px 0px 0px 120px;
}

.navbarUserContainer{
    display:flex;
}
.navbarSearchBox{
    height:30px;
    width:600px;
    background-color:#FFFFFF;
    border: 1px solid black;
}
.navbarItemsContainer{
    display:flex;
}

.navbarItemsContainer{
    margin-left:80px;
}
.navbarIcon{
    height:40px;
    width:40px;
    margin:20px 20px;
}
.displayName{
    margin:25px;
    color:#E9004B;
    font-size: larger;
    


}
.signOut{
    color:#E9004B;
    padding-bottom:22px;
    border:none;
    background-color: #FFFFFF;
    font-size: larger;
    cursor:pointer;
}