.ProductsContainer{
    display:flex;
    justify-content:center;
    align-items: center;
    height:90vh;
    width:100vw;
  
}
.Product{
  
    border-radius: 10%;
    background-color:whitesmoke;
    height:70vh;
    width:20vw;
    margin:4vw;
    text-align: center;

}

.ProductImage{
    height:40vh;
    width:100%;
    border-radius: 10% 10% 0% 0%;
}
